body{
	font-family: 'Roboto', sans-serif;
	position: relative;
	margin: 280px 24px;
	color: white;
	background-color: black
}

header{
	width: 200px;
	height: 340px;
	text-align: center;
}

header img{
	border-radius: 40px;
}

.container{
	position: absolute;
	margin: 0px 24px;
	height: 25%;
	left: 67%;
	bottom: 80%;
	text-align: right;
}

main{
	overflow: auto;
	height: 305px;
	width: auto;
}

footer{
	width: auto;
}